<!DOCTYPE html>
<html data-theme="light">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="JavaScript Refresh provides you with many practical tutorials that help you learn JavaScript from scratch quickly and effectively.">
    <link rel="canonical" href="https://javascript-refresh.vercel.app">
<!--    <title>Javascript-refresh</title>-->
    <% if(title) { %>
        <title><%=title%></title>
    <%} else{ %>
			<title>Javascript-refresh</title>
    <%}%>

    <meta property="og:title" content="Javascript-refresh">
    <meta property="og:description" content="JavaScript Refresh provides you with many practical tutorials that help you learn JavaScript from scratch quickly and effectively.">
    <meta property="og:url" content="https://javascript-refresh.vercel.app">
    <meta property="og:site_name" content="Javascript-refresh">
    <meta property="og:image" content="https://javascript-refresh.vercel.app/images/javascript-refresh.svg">
    <link rel="favicon" href="https://javascript-refresh.vercel.app/images/javascript-refresh.svg">
    <link rel="icon" href="/.netlify/functions/server/static/images/javascript-refresh-logo.svg" sizes="192x192">
    <!-- common css-->
    <link rel='stylesheet' href='/.netlify/functions/server/static/stylesheets/style.css' />
    <link rel='stylesheet' href='/.netlify/functions/server/static/stylesheets/add-post.css' />
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.3.0/dist/pouchdb.min.js"></script>
    <script src="/.netlify/functions/server/static/javascripts/index.js" ></script>
