
@import "style";

.add-post-form{
  backdrop-filter: blur(303px);
  margin: 30px auto;
  display: block;
  width: 100%;

  .input-group {
    display: flex;
    margin: 20px 0;
  
    label {
      max-width: 120px;
      width: 100%;
      font-weight: 500;
      display: inline-block;
    }
  
    input, textarea, select {
      border: 1.5px solid var(--primary-color);
      border-radius: 4px;
      outline: none;
      padding: 5px 10px;
      width: 100%;
    }
    textarea{
      min-height: 200px;
    }
  }
}