@import "mixins";
.footer{
  background: var(--primary-color);
  padding: 20px 0px;
  
  &_items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include get_down(576px){
      display: block;
      .footer_item{
        &:nth-child(2),    &:nth-child(4) {
          margin-top: 20px;
        }
      }
    }
    
    @include get_down(769px){
      grid-template-columns: repeat(2, 1fr);
      .footer_item{
        &:nth-child(3) {
          margin-top: 20px;
        }
      }
    }
    
    .footer_item{
      h4{
        font-size: 18px;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 0;
        color: white;
      }
      list-style: none;
        li{
          list-style: none;
            margin-top: 5px;
          a{
            color: var(--white);
            text-decoration: none;
          }
        }
      
      &__disclaim{
        color: var(--white);
        margin: 0;
        a{
          color: #ffed17;
        }
      }
      .social_links{
        padding-top: 5px;
        svg{
          width: 20px;
          padding-right: 8px;
          fill: #ffffff;
        }
      }
    }
  }
}